.post-img{
    height: 404px;
    overflow:hidden;
    margin-top: 14px;
}

.post-img img{
width:100%
}

.home{
    height: 500px;
    /* gap:150px; */
    display: flex;
    flex-direction: column;
}

.home h1{
    margin-top: 20px;
    margin-bottom: 20px;
    right:50px;
    justify-content: center;
    align-items: center;
}

.home{
    padding: 20px 20px;
}

.more-content{
    /* width: ; */
    justify-content: center;
    text-align: center;
    display: flex;
}

.more-content h3{
    flex-direction: column;
}
